 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1100px;
}

.u-section-1 .u-shape-1 {
  width: 1088px;
  height: 918px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 62px 0 0 auto;
}

.u-section-1 .u-image-1 {
  width: 690px;
  height: 691px;
  object-position: 0% 50%;
  background-position: 50% 50%;
  background-image: url("images/confident-man-saying-congrats-winking-and-pointing-at-you-standing-pleased-over-blue-background-and-smiling.jpg");
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -843px 120px 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 227px;
  height: 228px;
  background-image: linear-gradient(#c37cd8, #ab4ec7);
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -36px 78px 0 auto;
}

.u-section-1 .u-group-1 {
  background-image: none;
  width: 541px;
  min-height: 441px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -481px auto 100px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 24px 40px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 4.5rem;
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
  margin: 21px 0 0;
}

.u-section-1 .u-text-3 {
  letter-spacing: 1px;
  margin: 21px 28px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    width: 940px;
  }

  .u-section-1 .u-image-1 {
    width: 660px;
    height: 660px;
    margin-top: -842px;
    margin-right: 69px;
  }

  .u-section-1 .u-group-1 {
    width: 490px;
    min-height: 417px;
    margin-top: -459px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1026px;
  }

  .u-section-1 .u-shape-1 {
    height: 816px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    width: 509px;
    height: 509px;
    margin-top: -753px;
    margin-right: 30px;
  }

  .u-section-1 .u-group-1 {
    width: 415px;
    min-height: 415px;
    margin-top: -408px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1169px;
  }

  .u-section-1 .u-shape-1 {
    height: 535px;
    width: 519px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    width: 377px;
    height: 377px;
    margin-top: -464px;
    margin-right: 38px;
  }

  .u-section-1 .u-group-1 {
    width: 426px;
    min-height: 427px;
    margin-top: 12px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 913px;
  }

  .u-section-1 .u-shape-1 {
    height: 378px;
    width: 328px;
  }

  .u-section-1 .u-image-1 {
    width: 271px;
    height: 271px;
    margin-top: -355px;
    margin-right: 20px;
  }

  .u-section-1 .u-group-1 {
    min-height: 363px;
    margin-top: 36px;
    margin-bottom: 57px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 747px;
}

.u-section-2 .u-list-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(25% - 15px) calc(25% - 15px) calc(25% - 15px) calc(25% - 15px);
  min-height: 321px;
  grid-gap: 20px 20px;
  grid-auto-columns: calc(25% - 15px);
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 50px 10px 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 50px 10px 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 50px 10px 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 50px 10px 0;
}

.u-section-2 .u-text-8 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 742px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
    min-height: 265px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1112px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.99997px));
    min-height: 609px;
    grid-auto-columns: calc(50% - 10px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1418px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 772px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 504px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 54px auto 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
}

.u-section-3 .u-line-1 {
  width: 100px;
  height: 0;
  margin: 30px auto 0;
}

.u-section-3 .u-list-1 {
  margin-bottom: 54px;
  margin-top: 30px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 25% 25% 25% 25%;
  min-height: 223px;
  grid-gap: 0px 0px;
  grid-auto-columns: 25%;
}

.u-section-3 .u-container-layout-1 {
  padding: 10px 30px 10px 32px;
}

.u-section-3 .u-text-3 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-4 {
  font-weight: 300;
  font-size: 1.5rem;
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.125rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px 30px 10px 32px;
}

.u-section-3 .u-text-6 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-7 {
  font-weight: 300;
  font-size: 1.5rem;
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-8 {
  font-size: 1.125rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px 30px 10px 32px;
}

.u-section-3 .u-text-9 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-10 {
  font-weight: 300;
  font-size: 1.5rem;
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-11 {
  font-size: 1.125rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 10px 30px 10px 32px;
}

.u-section-3 .u-text-12 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-13 {
  font-weight: 300;
  font-size: 1.5rem;
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-14 {
  font-size: 1.125rem;
  font-style: italic;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 551px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 60px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 184px;
    grid-template-columns: repeat(3, 33.3333%);
  }

  .u-section-3 .u-text-3 {
    font-size: 4.0625rem;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: -53px;
    margin-right: 0;
    margin-left: 54px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-left: 55px;
  }

  .u-section-3 .u-text-6 {
    font-size: 4.0625rem;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: -53px;
    margin-right: 0;
    margin-left: 54px;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-left: 55px;
  }

  .u-section-3 .u-text-9 {
    font-size: 4.0625rem;
  }

  .u-section-3 .u-text-10 {
    width: auto;
    margin-top: -53px;
    margin-right: 0;
    margin-left: 54px;
  }

  .u-section-3 .u-text-11 {
    width: auto;
    margin-left: 55px;
  }

  .u-section-3 .u-text-12 {
    font-size: 4.0625rem;
  }

  .u-section-3 .u-text-13 {
    width: auto;
    margin-top: -53px;
    margin-right: 0;
    margin-left: 54px;
  }

  .u-section-3 .u-text-14 {
    width: auto;
    margin-left: 55px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 789px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 564px;
    grid-template-columns: repeat(2, 50%);
    grid-auto-columns: 50%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-3 .u-text-8 {
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
  }

  .u-section-3 .u-text-10 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-3 .u-text-11 {
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 30px;
  }

  .u-section-3 .u-text-13 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-3 .u-text-14 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 758px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    font-size: 3rem;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 23px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.875rem;
    margin-top: -57px;
    margin-left: 60px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 60px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-7 {
    font-size: 1.875rem;
    margin-top: -57px;
    margin-left: 60px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 60px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-10 {
    font-size: 1.875rem;
    margin-top: -57px;
    margin-left: 60px;
  }

  .u-section-3 .u-text-11 {
    margin-left: 60px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-13 {
    font-size: 1.875rem;
    margin-top: -57px;
    margin-left: 60px;
  }

  .u-section-3 .u-text-14 {
    margin-left: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 992px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .u-section-3 .u-text-3 {
    font-size: 3.75rem;
    width: 49px;
    margin-top: 19px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-4 {
    margin-top: 22px;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-top: 19px;
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .u-section-3 .u-text-6 {
    font-size: 3.75rem;
    width: 49px;
    margin-top: 19px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-7 {
    margin-top: 22px;
    margin-left: 0;
  }

  .u-section-3 .u-text-8 {
    margin-top: 19px;
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .u-section-3 .u-text-9 {
    font-size: 3.75rem;
    width: 49px;
    margin-top: 19px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-10 {
    margin-top: 22px;
    margin-left: 0;
  }

  .u-section-3 .u-text-11 {
    margin-top: 19px;
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .u-section-3 .u-text-12 {
    font-size: 3.75rem;
    width: 49px;
    margin-top: 19px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-13 {
    margin-top: 22px;
    margin-left: 0;
  }

  .u-section-3 .u-text-14 {
    margin-top: 19px;
    margin-left: 0;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1082px;
}

.u-section-4 .u-shape-1 {
  width: 832px;
  height: 747px;
  margin: 255px auto 0 52px;
}

.u-section-4 .u-shape-2 {
  width: 672px;
  height: 555px;
  margin: -852px 0 0 auto;
}

.u-section-4 .u-image-1 {
  height: 524px;
  background-image: url("images/senior-man-home-studying-laptop-taking-notes.jpg");
  background-position: 50% 50%;
  width: 543px;
  margin: -625px 61px 0 auto;
}

.u-section-4 .u-group-1 {
  background-image: none;
  width: 568px;
  min-height: 460px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  margin: -205px auto 28px 99px;
}

.u-section-4 .u-container-layout-1 {
  padding: 24px 40px;
}

.u-section-4 .u-text-1 {
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 16px auto 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 3.75rem;
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
  margin: 21px 0 0;
}

.u-section-4 .u-text-3 {
  letter-spacing: 1px;
  margin: 21px 28px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1070px;
  }

  .u-section-4 .u-shape-1 {
    width: 846px;
    margin-left: 0;
  }

  .u-section-4 .u-shape-2 {
    width: 610px;
    height: 504px;
  }

  .u-section-4 .u-image-1 {
    width: 524px;
  }

  .u-section-4 .u-group-1 {
    width: 524px;
    margin-left: 61px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1050px;
  }

  .u-section-4 .u-shape-1 {
    width: 720px;
  }

  .u-section-4 .u-shape-2 {
    margin-right: 30px;
  }

  .u-section-4 .u-group-1 {
    width: 451px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-shape-1 {
    width: 540px;
  }

  .u-section-4 .u-shape-2 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    height: 454px;
    width: 454px;
    margin-right: auto;
  }

  .u-section-4 .u-group-1 {
    margin-right: 26px;
    margin-left: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1002px;
  }

  .u-section-4 .u-shape-1 {
    height: 620px;
    width: 307px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-4 .u-shape-2 {
    height: 293px;
    width: 319px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    height: 524px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-group-1 {
    width: 318px;
    min-height: 458px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-2 {
    font-size: 2.75rem;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1354px;
}

.u-section-5 .u-rotation-parent-1 {
  width: 972px;
  height: 1068px;
  margin: 73px 0 0 auto;
}

.u-section-5 .u-shape-1 {
  width: 1068px;
  height: 972px;
}

.u-section-5 .u-image-1 {
  width: 745px;
  height: 747px;
  object-position: 0% 50%;
  background-position: 50% 50%;
  background-image: url("images/cheerful-middle-aged-woman-with-curly-hair.jpg");
  margin: -984px 43px 0 auto;
}

.u-section-5 .u-shape-2 {
  width: 241px;
  height: 242px;
  background-image: linear-gradient(#c37cd8, #ab4ec7);
  margin: 54px 0 0 auto;
}

.u-section-5 .u-form-1 {
  height: 522px;
  background-image: none;
  margin: -561px 548px 60px 0;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  width: 100%;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1320px;
  }

  .u-section-5 .u-rotation-parent-1 {
    width: 878px;
    height: 922px;
  }

  .u-section-5 .u-shape-1 {
    width: 922px;
    height: 878px;
  }

  .u-section-5 .u-image-1 {
    width: 724px;
    height: 724px;
    margin-top: -917px;
  }

  .u-section-5 .u-shape-2 {
    width: 227px;
    height: 228px;
    margin-right: 28px;
  }

  .u-section-5 .u-form-1 {
    margin-right: 348px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1410px;
  }

  .u-section-5 .u-rotation-parent-1 {
    width: 720px;
    height: 781px;
  }

  .u-section-5 .u-shape-1 {
    width: 791px;
    height: 720px;
  }

  .u-section-5 .u-image-1 {
    width: 594px;
    height: 594px;
    margin-top: -697px;
    margin-right: 40px;
  }

  .u-section-5 .u-shape-2 {
    margin-right: 25px;
  }

  .u-section-5 .u-form-1 {
    margin-right: 128px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1388px;
  }

  .u-section-5 .u-rotation-parent-1 {
    width: 540px;
    height: 601px;
    margin-left: 0;
  }

  .u-section-5 .u-shape-1 {
    width: 593px;
    height: 540px;
  }

  .u-section-5 .u-image-1 {
    width: 440px;
    height: 440px;
    margin-top: -517px;
    margin-right: auto;
    margin-left: 66px;
  }

  .u-section-5 .u-shape-2 {
    width: 189px;
    height: 189px;
    margin-right: auto;
    margin-left: 333px;
  }

  .u-section-5 .u-form-1 {
    width: 553px;
    margin-left: -6px;
    margin-right: -6px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1155px;
  }

  .u-section-5 .u-rotation-parent-1 {
    width: 340px;
    height: 401px;
  }

  .u-section-5 .u-shape-1 {
    width: 373px;
    height: 340px;
  }

  .u-section-5 .u-image-1 {
    width: 293px;
    height: 293px;
    margin-top: -317px;
    margin-left: 0;
  }

  .u-section-5 .u-shape-2 {
    width: 119px;
    height: 120px;
    margin-left: 151px;
  }

  .u-section-5 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 429px;
}

.u-section-6 .u-text-1 {
  margin: 55px auto 0;
}

.u-section-6 .u-list-1 {
  grid-template-rows: auto;
  margin: 20px 0 55px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: calc(16.6667% - 8.33333px) calc(16.6667% - 8.33333px) calc(16.6667% - 8.33333px) calc(16.6667% - 8.33333px) calc(16.6667% - 8.33333px) calc(16.6667% - 8.33333px);
  grid-gap: 10px 10px;
  min-height: 188px;
  grid-auto-columns: calc(16.6667% - 8.33333px);
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-6 .u-image-1 {
  height: 61px;
  width: 162px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-6 .u-image-2 {
  height: 61px;
  width: 162px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-6 .u-image-3 {
  height: 61px;
  width: 162px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-6 .u-image-4 {
  height: 61px;
  width: 162px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-6 .u-image-5 {
  height: 61px;
  width: 162px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-container-layout-6 {
  padding: 30px 0;
}

.u-section-6 .u-image-6 {
  height: 61px;
  width: 162px;
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 369px;
  }

  .u-section-6 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
    min-height: 155px;
    grid-auto-columns: calc(16.666666666666668% - 8.333329999999998px);
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 346px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 475px;
    grid-auto-columns: calc(33.333333333333336% - 6.666664px);
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-repeater-1 {
    min-height: 802px;
    grid-auto-columns: calc(50% - 4.999998px);
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
  }
}